/* scripts/index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #58997c;
  height: 100%;
  margin: 0;
}

/* Menu Styling */

.menu-container {
  color: #cbdbd4;
  background-color: #58997c;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.menu {
  /* border: 1px solid #fff; */
  height: 10%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-option-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-image {
  width: 40px;
  height: 20px;
}

.menu-title {
  margin-right: 20px;
  font: caption;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.menu-option {
  /* font: 1.2em "Fira Sans", sans-serif; */
  font: caption;
  color: #cbdbd4;
  text-decoration: none;
  font-size: 20px;
  margin: 5px 20px;
}

.title-container {
  padding: 8px;
  display: flex;
  flex-direction: row;
  border: 4px white dotted;
}

.title-container:hover {
  border-color: black;
}

.title-word {
  display: flex;
  flex-direction: row;
  margin: 0px 6px;
}

.title-text {
  padding-right: 4px;
  font-size: 36px;
  font-weight: 300;
}

.title-text:hover {
  color: black;
}

/* Body Styling */

.body-container {
  background-color: #cbdbd4;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.body-text-container-right {
  border: 1px black solid;
  width: 45%;
  max-height: 80%;
  margin-left: auto;
  margin-right: 3%;
  margin-top: 2%;
  background: white;
}

.body-text-container-left {
  border: 1px black solid;
  width: 45%;
  max-height: 80%;
  margin-right: auto;
  margin-left: 3%;
  margin-top: 2%;
  background: white;
}

.body-title {
  margin: 10px 30px;
  font: caption;
  font-size: 24px;
  font-weight: bolded;
}

.body-text {
  margin: 10px;
  height: 100%;
  font: caption;
  font-size: 16px;
}

.body-image {
  display: block;
  width: 100%;
  height: auto;
}

/* Footer Styling */

.footer-container {
  background-color: #58997c;
  height: 10%;
  display: flex;
  flex-direction: row;
}

.footer-description {
  width: 15%;
  flex: 1;
  align-items: center;
}

.footer-link-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
}

.footer-link {
  /* justify-content: center;
  align-items: center; */
  display: flex;
  height: 75%;
  margin: 10px;
  border: 1px black dotted;
  border-radius: 80px;
}

.footer-image {
  flex: 1;
  width: 35px;
  height: 25px;
  margin: 15px;
}
